@font-face {
	font-family: alk-sanet; 
	src: url(alk-sanet.ttf);
	font-weight:401;
}

a{
	text-decoration: none;
}

a:visited{
	text-decoration: none;
}

html, body{
	font-family: alk-sanet;
	font-size: 16px;
	margin: 0;
}

.content{
	width: 100%;
	margin: auto;
	margin-top: 60px;
}

header{
	width: 100%;
	background-color: #2E2E3A;
	height: 60px;
	position: fixed;
	top:0;
	z-index:20;
}

table.headerTable{
	position:absolute;
	right:0;
}

ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul.lan{
	width: 30px;
	margin-left:100px;
	position: relative;
	font-size: 12px;
	right: 0;
}

ul.navigation{
	position: relative;
}

li{
	color: white;
	margin: auto;
	padding: 0 5px 0 5px;
}

.inline{
	display: inline;
}

.slideShow{
	background-color: grey;
	width: 100%;
}

main{
	width: 100%;
	min-height: 300px;
}

footer{
	background-color: #2E2E3A;
	width: 100%;
	height: 120px;
	position: relative;
	bottom: 0;
	text-align: center;
}

.socNet{
	border-radius: 10%;
	background-color: white;
	width: 50px;
	height: 50px;
}

.socialNetworks{
	position:relative;
	margin:auto;
	top: 10px;
}

.footerText{
	color: white;
}

li.inline:hover{
	text-decoration: underline;
}

.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}